<div class="row">
  <div class="col-12">
    <%= form_with(model: diary, local: true) do |form| %>
      <% if diary.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>
    
          <ul>
            <% diary.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control col-sm-6' %>
      </div>
    
      <div class="form-group">
        <%= form.label :date %><br>
        <%= form.date_select :date, {}, class: 'form-control col-sm-3', style:"display:inline-block;" %>
      </div>
    
      <div class="form-group">
        <%= form.label :content %>
        <%= form.rich_text_area :content, class: 'form-control', style:"height:300px;overflow:scroll;" %>
      </div>
    
      <div class="actions">
        <%= form.submit class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>